@using IdentityServer4.Extensions
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.IdentityServer4.Admin.EntityFramework.Shared.Entities.Identity
@using Skoruba.IdentityServer4.STS.Identity.Configuration.Interfaces
@inject IRootConfiguration RootConfiguration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/dist/css/bundle.min.css" />
    <link rel="stylesheet" href="~/styles.css" />
    <title>@RootConfiguration.AdminConfiguration.PageTitle</title>
</head>
<body>
    
    
    <div class="c-login-container">
        <div class="c-login-image">
            <img src="~/images/pexels-cottonbro-7578797.jpg" alt="Linde" />
        </div>
        <div class="c-login-focus">
            <div class="c-login-top">
                <div class="c-login-app-title">
                    <h1>LIMAH® - Linde Medical At Home</h1>
                </div>
                <img class="c-logo" src="~/images/linde_plc_logo_combi.png" alt="Logo">
            </div>
            <div class="c-login">
                @RenderBody()
            </div>
        </div>
        
    </div>
    
    <environment include="Development">
        <script src="~/dist/js/bundle.min.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/js/bundle.min.js" asp-append-version="true"></script>
    </environment>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
