@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
    Layout = "_LayoutLogin";
}
<div class="c-login__form">
    <div class="c-login__header">
        <div class="c-sub">@Localizer["Title"]</div>
    </div>
    <div class="c-login__body">
        @Localizer["CheckEmailMessage"]
    </div>
    <div class="c-login__footer"></div>
</div>