@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Skoruba.IdentityServer4.STS.Identity.ViewModels.Account.ResetPasswordViewModel
@{
    ViewData["Title"] = Localizer["Title"];
    Layout = "_LayoutLogin";
}
<div class="c-login__form">
    <div class="c-login__header">
        <div class="c-sub">@Localizer["SubTitle"]</div>
    </div>
    <div class="c-login__body">
        @if (!ViewContext.ModelState.IsValid)
        {
            <div asp-validation-summary="All" class="c-validation-errors"></div>
        }
    <form id="reset-form" asp-controller="Account" asp-action="ResetPassword" method="post">
        <input asp-for="Code" type="hidden" />
        <div class="c-form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email" class="c-error"></span>
        </div>
        <div class="c-form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" class="c-error"></span>
        </div>
        <div class="c-form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" class="c-error"></span>
        </div>
    </form>
    </div>
    <div class="c-login__footer">
        <button form="reset-form" type="submit" class="c-button">@Localizer["Reset"]</button>
    </div>
</div>